.pageContainer {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}


.formContainer {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-direction: column;
}

#text{
  padding-top: 13px;
}

.comments{
	color: white;
}

.col-sm-1{
  height: 50px;
  text-align: center;
}

.col-sm-2{
  height: 50px;
  text-align: center;
}

.col-sm-3{
  height: 50px;
}

button{
  background-color: rgb(156, 156, 156);
  border: none;
  font-size: 16px;

}

h1{
  color: white;
}
